## Graphics

export("plot.xts")
# export("barplot.xts") -- Not yet ready
S3method(plot, xts)

## Analytics

export("acf")
# export("acf.xts")
# export("pacf.xts")
# export("acf.ts")
# export("acf.default")

S3method(acf, default)
S3method(acf, xts)
S3method(acf, ts)

S3method(pacf,xts)

export("arima")

S3method(arima, default)
S3method(arima, xts)

export("arima0")

S3method(arima0, default)
S3method(arima0, xts)

export("StructTS")

S3method(StructTS, default)
S3method(StructTS, xts)

export("HoltWinters")
S3method(HoltWinters, default)
S3method(HoltWinters, xts)

## Data frame capability