# WHY DON'T DEPENDENCIES COVER THESE IMPORTS? 
import(stats)
import(utils)
import(graphics)
import(xts)
import(zoo)

## Graphics

export("plot.xts")
export("barplot.xts")
export("default.panel")
S3method(plot, xts)
S3method(barplot, xts)

export("plot2_xts")
export("chart_pars")
export("xtsExtraTheme")
export("addDrawdowns")
export("addLines")
export("addReturns")
export("addRollingPerformance")
export("addLegend")
S3method(print, replot_xts)
S3method(plot, replot_xts)

## Analytics -- All blocked out for now

#export("acf")
#S3method(acf, default)
#S3method(acf, xts)
#S3method(acf, ts)

#S3method(pacf,xts)

#export("arima")

#S3method(arima, default)
#S3method(arima, xts)

#export("arima0")

#S3method(arima0, default)
#S3method(arima0, xts)

#export("StructTS")
#S3method(StructTS, default)
#S3method(StructTS, xts)

#export("HoltWinters")
#S3method(HoltWinters, default)
#S3method(HoltWinters, xts)

#export("stl")
#S3method(stl, default)
#S3method(stl, xts)


## Data frame capability
#S3method(Ops, xtsdf)
#S3method(Summary, xtsdf)
#S3method(Math, xtsdf)

#export("xtsdf")
#export("as.xtsdf")

#S3method(as.xtsdf, xts)
#S3method(as.xtsdf, data.frame)
#S3method(as.xtsdf, xtsdf)
#S3method(as.xtsdf, matrix)

#S3method(as.data.frame, xtsdf)
#S3method(as.xts, xtsdf)

#S3method(`[`,xtsdf)
#S3method(`[<-`, xtsdf)
#S3method(print, xtsdf)
#S3method(str, xtsdf)

#S3method(c, xtsdf)
#S3method(cbind, xtsdf)
#S3method(rbind, xtsdf)
#S3method(merge, xtsdf)

#export(is.xtsdf)
#S3method(index, xtsdf)
#S3method(time, xtsdf)
#S3method(indexTZ, xtsdf)

#S3method(`index<-`, xtsdf)
#S3method(`time<-`, xtsdf)
#S3method(`indexTZ<-`, xtsdf)

#S3method(as.list, xtsdf)
#S3method(dim, xtsdf)
#S3method(dimnames, xtsdf)
#S3method(as.zoo, xtsdf)
#S3method(lag, xtsdf)
#S3method(summary, xtsdf)
#S3method(head, xtsdf)
#S3method(tail, xtsdf)
#S3method(coredata, xtsdf)

#### NEED TO MAKE INDEX CLASS A S3 GENERIC FOR NOW
#export("indexClass")
#S3method(indexClass, xts)
#S3method(indexClass, xtsdf)
